:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 360px;
    height: 640px;
    margin: 0 auto;
    background: rgba(205, 207, 192, 0.8);
    overflow: hidden;
  }
  .chevron-right {
    position: relative;
    width: 39px;
    height: 29px;
    margin: 17px 0 0 245px;
    overflow: hidden;
  }
  .rectangle {
    position: relative;
    width: 294px;
    height: 46px;
    margin: -10px 0 0 33px;
    background: #CDCFC9;
    background-size: cover;
    z-index: 1;
  }
  .about-me {
    display: flex;
    align-items: flex-startu;
    justify-content: center;
    position: absolute;
    width: 166px;
    height: 34px;
    top: 2px;
    left: 64px;
    color: #423f32;
    font-family: Inter, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
  }
  .motivated-student {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 294px;
    height: 530px;
    top: 87px;
    left: 33px;
    color: #f1ebe5;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24.205px;
    text-align: center;
    z-index: 3;
  }
  .house {
    position: absolute;
    width: 60px;
    height: 48px;
    top: 574px;
    left: 148px;
    z-index: 4;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 56.255px;
    height: 41.378px;
    margin: 3.622px 0 0 1.873px;
    background: url(https://res.cloudinary.com/dphvhssec/image/upload/v1725002208/kiks/ziubpbydbp183wozlm7o.svg)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 5;
  }


  @media only screen and (min-width:400px) {
    .main-container {
      width: 1400px;
    }

    .rectangle {
      left: 995px;
    }

    .motivated-student {
      align-items: center;
      left: 300px;
      font-size: 25px;
      width: 700px;
    
    }
  }
  